.container {
  box-sizing: border-box;
  height: 8.4rem;
  overflow: hidden;
}
.ant-carousel {
  height: 8.4rem;
  position: relative;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 8.4rem !important;
  width: 100vw !important;
  position: relative !important;
  /* line-height: 160px; */
  /* overflow: hidden; */
}
.ant-carousel img {
  width: 100vw !important;
  height: 8.4rem !important;
}
.cover {
  width: 100vw;
  height: 8.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
}
.ant-carousel .slick-slide h3 {
  color: #fff;
  margin-top: 6.5rem !important;
  text-align: left !important;
  line-height: 0.8rem !important;
  width: 9.2rem !important;
  margin-left: 0.8rem !important;
  font-size: 0.6rem !important;
  z-index: 100;
}
.news{
    width:10.32rem;
    margin-left: 0.24rem;
}
.title{
    line-height: 1.6rem;
    font-size: 0.4rem;
    margin-left: 0.26rem;
    color:#707070;
}

